.volume {
    span {
        color: #fff;
        background: green;
        border-radius: 4px;
        padding: 4px;

        i {
            margin-right: 4px;
        }

        &.percentage {
            color: green;
            background: transparent;
            font-size: 0.8em;
        }
    }
}